:root {
    --html: #738598;
    --letra: #1CB3C8;
    --letra_hover: #DFE2E2;
    --font_main: 'Inconsolata', monospace;
    --fondo: #3C415E;
}
html {
    box-sizing: border-box;
    background: #5614B0;  /* fallback for old browsers */
    background: #606c88;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #3f4c6b, #606c88);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #3f4c6b, #606c88); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-repeat: no-repeat;

}

  *, *:before, *:after {
    box-sizing: inherit;
}
h1, h2, h3, p, a {
    font-family: var(--font_main);
    padding: 2rem 2rem;
    color: var(--letra);
}
main {
    background-color: var(--fondo);
    margin: 2rem 2rem;
    border-radius: 99% 1% 99% 1% / 1% 99% 1% 99% ;
}
/* HEADER INDEX.HTML */

.nav_header {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row-reverse;
    align-items: center;
    margin: 2rem 2rem;
    border-radius: 99% 1% 99% 1% / 1% 99% 1% 99% ;
    background-color: var(--fondo);
}
a {
    font-family: var(--font_main);
    font-size: 1.8rem;
    text-decoration: none;
    text-transform: capitalize;
    padding: 2rem 2rem;
    color: var(--letra);
    transition: .15s .15s ease-in-out;
}
a:hover {
    transition: .15s .15s ease-in-out;
    color: var(--letra_hover);
}

/* MAIN */
h1 {
    display: flex;
    justify-content: center;
    align-items: center;
}
.title {
    padding-bottom: 1rem;
}
.about_me {
    padding-bottom: .1rem;
}
/* FOOTER */
P {
    display: flex;
    justify-content: center;
    align-items: center;
}